{{{html}}}

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Questo post è riservato ai sottoscrittori</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Questo post è riservato ai soli sottoscrittori</h4>
    {{/has}}
    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">Questo post è solo per i sottoscrittori {{tiers}} </h4>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <button class="gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Fai un upgrade</button>
        {{else}}
            <button class="gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Iscriviti</button>
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Sei già iscritto ? Accedi.</span>
        {{/if}}
    </div>
</section>
